body {
  font-family: "PT Sans";
  font-size: 14px;
  color: #000000;
  font-weight: normal;
  line-height: 21px;
}
.container {
  display: block;
  max-width: 1200px;

}
.greeting {
  margin: 0;
}
.card-img {
  margin: 0;
  width: 800px;
}
.main-logo-img {
  width: 138px;
  height: 70px;
}
.main-navigation {
  display: flex;
  justify-content: space-between;
}
.main-cause {
  display: flex;
  text-align: center;
  /*width: 400px;*/
  margin: 62px 355px 51px 355px;
  flex-direction: column;
  /*justify-content: center;*/
}
.main-cause-item {
  text-transform: uppercase;
  line-height: 26px;
}
.cause-comfort {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.map {
  margin: 0;
}
.main-navigation-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  line-height: 26px;
}
.selection {
  background: url("../img/filter-background.jpg") no-repeat;
}
.selection-fieldset {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.selection-fieldset-legend {
  font-size: 16px;
  font-weight: bold;
}
li {
  list-style-type: none; /* Убираем маркеры */
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.main-navigation-active {
  color: #766357;
}
.main-cause {
  line-height: 21px;
}
h2 {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
}
h2.found {
  line-height: 26px;
}
.card {
  text-align: center;
  width: 400px;
  padding-top: 47px;
  padding-right: 72px;
  padding-left: 72px;
  padding-bottom: 61px;
}
.search-info-item {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}
.sorting-link{
  text-decoration: none;
  border-bottom: 1px dashed #0088CC;
  opacity: 0.3;
  filter: alpha(opacity=50) /*для ie*/
}
.sorting-active {
  text-decoration: none;
  border-bottom: none;
  color: #0088CC;
  opacity: 1;
}
.sorting-item-up {
  background-image: url("../img/sorting-item-up.png") no-repeat;
}
.sorting-item-down {
  background-image: url("../img/sorting-item-down.png") no-repeat;
}
.results {
  text-transform: uppercase;
}
.itfo-title-link {
  text-decoration: none;
  color: #000000;
  border-bottom: none;
}
.btn {
  text-decoration: none;
  background-color: #81b3d2;
  color: #ffffff;
  line-height: 21px;
}
.btn-color {
  background-color: #766357;
}
.rating-block {
  background-color: #f2f2f2;
  color: #666666;
}
.star { /*В пустом блоке не показывает фон */
  background: url("../img/star.png") no-repeat 0 0;
}
.cause {
  display: flex;
  font-size: 14px;
  background-color: #eeeeee;
}
/*.left {*/
  /*justify-content: space-between;*/
/*}*/
/*.real-city {*/
  /*margin-right: 0;*/
/*}*/
.cause-background-color {
  background-color: #81b3d2;
  color: #ffffff;
}
.cause-background-color h2{
    color: #ffffff;
}
.interest {
  line-height: 24px;
}
h2.interest-title {
  font-size: 30px;
  }
.hotel-search {
  /*display: block;*/
  font-size: 21px;
  text-decoration: none;
  color: #ffffff;
  background-color: #766357;
  padding-left: 139px;
  padding-right: 139px;
}
.footer-hashtag {
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
}

.card-img {
  width: 800px;
  height: 256px;
}
