body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #000000;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.main-header {
  position: relative;
  margin: 0;
  padding: 0;
}

.main-logo { /*Над этим еще надо поработать*/
  position: absolute;
  left: 531px;
}

.main-navigation-item {
  list-style-type: none;
}

.main-navigation {
  margin: 0;
  padding: 0;
}

.main-navigation-list { /*Над этим еще надо поработать*/
  display: flex;
  margin: 0;
  padding: 14px 72px 16px 72px;
  justify-content: space-between;
}

.main-navigation-item {
  /*margin: 0;*/
  /*padding: 0;*/
}

.main-navigation-link {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

/*.main-navigation-left {*/
  /*margin-left: auto;*/
/*}*/

/*.main-navigation-right {*/
  /*margin-right: auto;*/
/*}*/

.greeting {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.greeting-img {
  display: block;
  margin: 0;
  padding: 0;
}

.main-cause {
  display: flex;
  width: 490px;
  margin: 0 auto;
  padding: 54px 0 51px 0;
  flex-direction: column;
  text-align: center;
}

.main-cause-entry {
  margin: 0 0 27px 0;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.main-cause-item {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  line-height: 26px;
}

.card {
  width: 400px;
  margin: 0;
  padding: 47px 0 59px 0;
  text-align: center;
}

.card-option {
  padding: 46px 0 60px 0;
}

.card-number {
  width: 124px;
  margin: 25px auto 20px auto;
  padding: 0;
}

.card-designation{
  width: 278px;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
}

.card-designation-option {
  width: 310px;
}

.card-title {
  width: 160px;
  margin: 0 auto;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}


.card-img {
  width: 800px;
  margin: 0;
  padding: 0;
}

.real-city, .bridge {
  display: block;
  margin: 0;
  padding: 0;
}

.right {
  order: -1;
}

.cause {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.cause-comfort {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  text-align: center;
}

.cause-comfort-item {
  width: 33%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.cause-background-color {
  color: #ffffff;
  background-color: #81b3d2;
}

/*.cause:nth-of-type(3) {*/
  /*color: #ffffff;*/
  /*background-color: #81b3d2;*/
/*}*/

.cause-comfort-title {
  width: 155px;
  margin: 0 auto;
  padding: 0;
  padding-top: 161px;
  padding-bottom: 24px;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

.cause-comfort-offer {
  width: 302px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 82px;
}

.card-title-color {
  color: #000000;
}

.interest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  line-height: 24px;
  text-transform: uppercase;
}

.interest-title {
  margin: 56px auto 30px auto;
  font-size: 30px;
}

.interest-designation {
  width: 440px;
  margin: 0 auto 47px auto;
  padding: 0;
  text-align: center;
}

.hotel-search {
  display: flex;
  width: 568px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 21px;
  justify-content: center;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  background-color: #766357;
}

.position {
  position: relative;
}

.hotel-reservation {
  position: absolute;
  left: 316px;
  /*top: -50px;*/
}

.hotel-reservation-form {
  width: 568px;
  margin: 0 auto;
  padding: 55px 55px;
  box-sizing: border-box;
  background: #ffffff;
}

/*.reservation-block {*/
  /*width: 460px;*/
  /*margin: 0 auto;*/
  /*padding: 0;*/
  /**/
/*}*/

.reservation-block-flex {
  display: flex;
  /*width: 460px;*/
  margin: 0 auto 30px auto;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.reservation-block-title {
  margin: 0;
  padding: 0;
}

.reservation-block-date {
  margin: 0;
  padding: 0;
}

.people {
  display: flex;
  width: 230px;
  justify-content: space-between;
  align-items: center;
}

.people-number {
  background: #f2f2f2;
}

.number-less {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  background: transparent;
  border: none;
}

.people-number .reservation-block-item {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  background: transparent;
  border: none;
}

.number-more {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  background: transparent;
  border: none;
}

.search-btn {
  display: flex;
  width: 460px;
  margin: 25px auto 0 auto;
  padding: 18px 0 16px 0;
  font-size: 21px;
  justify-content: center;
  line-height: 26px;
  border: none;
}

.map {
  margin: 0;
}

.main-footer {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  text-transform: uppercase;
  background: url("../img/footer.png") no-repeat;
}

.main-footer-position {
  top: -120px;
}

.footer-hashtag {
  font-size: 21px;
  font-weight: bold;
  /*text-transform: uppercase;*/
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin: 0;
  padding: 0;
  font-size: 0px;
  background: #81b3d2;
  border: none;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.logo-master-img {
  padding-left: 5px;
}

.main-navigation-active {
  color: #766357;
}

.selection {
  display: flex;
  margin: 0;
  padding: 30px 72px 32px 72px;
  background: url("../img/filter-background.jpg") no-repeat;
}

.selection-fieldset {
  margin: 0 116px 0 0;
  padding: 0;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.selection-fieldset-legend {
  font-size: 16px;
  font-weight: bold;
}

.selection-fieldset-option {
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.search-info {
  display: flex;
  margin: 30px 72px 32px 72px;
  padding: 0;
  align-items: center;
}

.search-info-item {
  align-items: center;
}

.sorting-item {
  list-style-type: none;
}

.found {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.sorting-list {
  display: flex;
}

.left {
  margin-left: auto;
}

.up {
  background: #81b3d2 url("../img/sorting-item-up.png") no-repeat;
}

.down {
  background: #81b3d2 url("../img/sorting-item-down.png") no-repeat;
}

.results {
  display: flex;
  margin: 30px 72px 32px 72px;
  padding: 0;
  align-items: center;
  box-sizing: border-box;
  text-transform: uppercase;
}

.results-img {
  margin: 0;
  padding: 0;
}

.results-img-place {
  display: block;
  margin: 0 28px 0 0;
  padding: 0;
}

.result-info {
  display: flex;
  width: 250px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.result-info-left {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.result-info-right {
  display: flex;
  flex-direction: column;
}

.result-info-rating {
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.result-info-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.search-info-item {
  display: flex;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  list-style-type: none;
}

.sorting-link{
  text-decoration: none;
  border-bottom: 1px dashed #0088CC;
  opacity: 0.3;
}

.sorting-active {
  color: #0088CC;
  text-decoration: none;
  border-bottom: none;
  opacity: 1;
}

.itfo-title-link {
  color: #000000;
  text-decoration: none;
  border-bottom: none;
}

.btn {
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  background-color: #81b3d2;
}

.btn-color {
  background-color: #766357;
}

.rating-block {
  color: #666666;
  background-color: #f2f2f2;
}

.star { /*В пустом блоке не показывает фон */
  background: url("../img/star.png") no-repeat 0 0;
}

.selection-checkbox, .selection-btn {
  background: transparent;
}
